/* bebas-neue-regular - latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/bebas-neue-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/bebas-neue-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/open-sans-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Config block*/
.config-text {
  font-family: "Open Sans";
  color: #48555B;
}

.screen-width {
  width: 100vw;
  max-width:100%;/*без этого параметра мы имеем горизонтальный скроллбар, фикс найден на стаковерфлоу*/
  min-width: 1440px;
}

.base-width {
  width: 1440px;
  margin: auto;
  padding-left: 250px;
  padding-right: 250px;
}

/*Cover block*/
.cover {
  align-items: center;
  background: url("../img/coverBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 40px;
  position: relative;
}

.cover__logo {
  display: block;
  max-width: 102px;
}

.cover-text {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cover-text__title {
  align-items: flex-end;
  color: #FFFFFF;
  display: flex;
  font-family: "Bebas Neue";
  font-size: 60px;
  letter-spacing: 6px;
  line-height: 70px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.cover-text__description {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;

}

.cover__scrollText {
  color: #FFFFFF;
  font-size: 11px;
  letter-spacing: 3.7px;
  line-height: 13px;
  text-transform: uppercase;
}

/*Header block*/
.header {
  border-bottom: 1px solid #E6E6E6;
}

.header-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: space-between;
  margin: auto;
}

.header__logo {
  display: block;
  width: 80px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
}

.header-nav__item {
  margin-left: 37px;
}

.header-nav__item:first-child {
  margin-left: 0;
}

.header-link {
  color: #48555B; /*почему-то если я убираю отсюда, то глобальный цвет не применяется, хотя вроде нигде жестко цвет для линков не задан*/
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  margin: 0;
  padding: 5px;
  transition: color 0.5s ease-in-out;
}

.header-link:hover, .header-link:focus {
  color: #00A4E5;
}

/*Main block*/
.main {
  padding-top: 55px;
}

.story {
  text-align: center;
}

.story__h2 {
  font-size: 18px;
  letter-spacing: 2.3px;
  line-height: 21px;
  margin: auto;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.story__h2:after {
  content: '';
  height: 2px;
  position: absolute;
  background: #00A4E5;
  bottom:-7px;
  left: 25px;
  width: 50%;
}

.story-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-top: 60px;
  height: auto;

}

.story-text {
  padding-right: 40px;
  width: 50%;
}

.story-text__title {
  margin-bottom: 130px; /*Если брать просто положенные 30, то как-то общее соотношениевысоты картинок и текста не совпадают, это чисто для демонстрации*/
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2px;
  font-weight: 600;

}

.story-text__description {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.story-list {
  padding-left: 40px;
  margin-bottom: 13px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  align-self: flex-end;
  height: auto;
}

.story-list__item {
  height: 240px;
  width: 140px;
  padding-top: 15px;
  padding-left: 15px;
  color: #fff;
  font-weight: 600;
}

.story-list__item:first-child {
  margin-left: 0;
  background: url("../img/wePlanBackground.jpg");
}

.story-list__item:nth-child(2) {
  background: url("../img/weManageBackground.jpg");
  margin-left: 15px;
}

.story-list__item:nth-child(3) {
  background: url("../img/weBuildBackground.jpg");
  margin-left: 15px;
}

.story-list__item:nth-child(n) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}