/* bebas-neue-regular - latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/bebas-neue-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/bebas-neue-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: local(''),*/
/*  url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'), !* Chrome 26+, Opera 23+, Firefox 39+ *! url('../fonts/open-sans-v27-latin-regular.woff') format('woff'); !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/

/*Config block*/
.config-text {
  font-family: 'Open Sans', sans-serif;
  color: #48555B;
}

.screen-width {
  width: 100%;
  min-width: 1440px;
}

.base-width {
  width: 1440px;
  margin: auto;
  padding-left: 250px;
  padding-right: 250px;
}

.underline:after {
  content: '';
  height: 2px;
  position: absolute;
  background: #00A4E5;
  bottom:-13px;
  left: 36px;
  width: 50px;
}

/*Cover block*/
.cover {
  align-items: center;
  background: url("../img/coverBackground.jpg");
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 40px;
  position: relative;
}

.cover__logo {
  display: block;
  max-width: 102px;
}

.cover-text {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cover-text__title {
  align-items: flex-end;
  color: #FFFFFF;
  display: flex;
  font-family: "Bebas Neue";
  font-size: 60px;
  letter-spacing: 6px;
  line-height: 70px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.cover-text__description {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;

}

.cover__scrollText {
  color: #FFFFFF;
  font-size: 11px;
  letter-spacing: 3.7px;
  line-height: 13px;
  text-transform: uppercase;
}

/*Header block*/
.header {
  border-bottom: 1px solid #E6E6E6;
}

.header-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: space-between;
  margin: auto;
}

.header__logo {
  display: block;
  width: 80px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
}

.header-nav__item {
  margin-left: 37px;
}

.header-nav__item:first-child {
  margin-left: 0;
}

.header-link {
  color: #48555B;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  margin: 0;
  padding: 5px;
  transition: color 0.3s ease-in-out;
}

.header-link:hover, .header-link:focus {
  color: #00A4E5;
}

/*Main block*/
.main {
  padding-top: 55px;
}

.main-button {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 40px;
  color: #FFFFFF;
  background-color: #00A4E5;
}

.main-button:hover {
  opacity: 0.9;
}

.story {
  text-align: center;
}
.main-h2 {
  font-size: 18px;
  letter-spacing: 2.3px;
  line-height: 21px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.story__h2 {
  margin: auto;
}

.story-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-top: 60px;
  height: auto;

}

.story-text {
  padding-right: 45px;
  width: 50%;
}

.story-text__title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2px;
  font-weight: 600;

}

.story-text__description {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.story-text__brand {
  color: #00A4E5;
}

.story-list {
  margin-bottom: 13px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  align-self: flex-end;
  height: auto;
}

.story-list__item {
  height: 220px;
  width: 140px;
  padding-top: 15px;
  padding-left: 15px;
  color: #fff;
  font-weight: 600;
}

.story-list__item:first-child {
  background: url("../img/wePlanBackground.jpg");
}

.story-list__item:nth-child(2) {
  background: url("../img/weManageBackground.jpg");
}

.story-list__item:nth-child(3) {
  background: url("../img/weBuildBackground.jpg");
}

.story-list__item:nth-child(n) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Capabilities section*/
.capabilities {
  margin-top: 120px;
}

.capabilities-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.capabilities-wrap {
  align-items: center;
  column-gap: 36px;
}

.capabilities-text {
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
}

.capabilities__h2:after{
  left: 0;
  bottom: -6px;
}

.capabilities-item {
  width: 295px;
  height: 330px;
  border: 1px solid #E6E6E6;
  margin-top: 76px; /*логично повесить на врапер этих элементов, но тут он сделан классом, который подключает просто
                      флекс. Отсюда вопрос, что более правильно: добавить второй класс в котором будет только марджин
                       или оставить как у меня?*/
  padding: 38px 22px;
}

.capabilities-item__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-top: 25px;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.capabilities-item__text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.19px;
}

/*Contact section*/
.contact {
  height: 498px;
  background: url("../img/contactBackground.jpg");
  margin-top: 115px;
  padding-top: 120px;
}

.contact-wrap {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.contact-title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  margin-bottom: 35px;
}

.background-image { /*почему-то если я єтот блок пихаю в роаздел конфига, то он не отрабатівает*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.newsletter {
  height: 100px;
  background: #171819;
}



