/* bebas-neue-regular - latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/bebas-neue-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/bebas-neue-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/open-sans-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Cover block*/
.cover {
  align-items: center;
  background: url("../img/coverBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover; /*contain не заливает всю высоту*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: auto;
  min-width: 1440px;
  padding-bottom: 70px;
  padding-top: 40px;
  position: relative;
  width: 100vw;
}

.cover__logo {
  display: block;
  max-width: 102px;
}

.cover__text {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cover-item__title {
  align-items: flex-end;
  color: #FFFFFF;
  display: flex;
  font-family: "Bebas Neue";
  font-size: 60px;
  letter-spacing: 6px;
  line-height: 70px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.cover-item__text {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 19px;

}

.cover__scrollText {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 11px;
  letter-spacing: 3.7px;
  line-height: 13px;
  text-transform: uppercase;
}

/*Header block*/
.header {
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
}

.header-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: space-between;
  margin: auto;
  min-width: 1440px;
  padding-left: 250px;
  padding-right: 250px;
}

.header__logo {
  display: block;
  width: 80px;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
}

.header-list__item {
  margin-left: 42px;
}

.header-link__item {
  color: #48555B;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header-link__item:hover {
  color: #00A4E5;
}

/*Main block*/
.main {
  background-color:green;
  margin: auto;
  max-width: 1440px;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 55px;
}

.story {
  text-align: center;
}

.story__h2 {
  color: #48555B;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: 2.30625px;
  line-height: 21px;
  margin: auto;
  position: relative;
  display: inline-block;
}

.story__h2:after {
  content: '';
  height: 2px;
  position: absolute;
  background: #00A4E5;
  bottom:-5px;
  left: 25px;
  width: 50%;
}

